{% extends 'email/mdsta/base.html' %}
{% load filters %}

{% block content %}
<tr>
	<td align="center" valign="top">
		<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader">
			<tr>
				<td valign="top" class="headerContainer">
					<table border="0" cellpadding="0" cellspacing="0" width="100%"
						   class="mcnCaptionBlock">
						<tbody class="mcnCaptionBlockOuter">
						<tr>
							<td class="mcnCaptionBlockInner" valign="top" style="padding: 0 9px;">
								<table border="0" cellpadding="0" cellspacing="0"
									   class="mcnCaptionLeftContentOuter" width="100%">
									<tbody>
									<tr>
										<td valign="top" class="mcnCaptionLeftContentInner"
											style="padding:0 9px ;">
											<table class="mcnCaptionLeftTextContentContainer"
												   align="left" border="0" cellpadding="0"
												   cellspacing="0" width="100%">
												<tbody>
												<tr>
													<td valign="top" class="mcnTextContent" style="text-align: center;">
														{% if context.qr_code %}
														<div style="float: right;margin-top: -140px;">
															<img src="{{ context.qr_code }}" alt="QR CODE" height="120px" width="120px"/>
														</div>
														{% endif %}

														<span style="font-size:18px;text-align: center;">{{ 'EMAIL_booking'|translate_for_venue:instance.detail.event.venue }} Complete {{ instance|format_booking_ref }}{% if instance.booking_vehicle.access_point_level %} - Level {{ instance.booking_vehicle.access_point_level }}{% endif %}</span>
													</td>
												</tr>
												</tbody>
											</table>
										</td>
									</tr>
									</tbody>
								</table>
							</td>
						</tr>
						</tbody>
					</table>
					<table border="0" cellpadding="0" cellspacing="0" width="100%"
						   class="mcnDividerBlock">
						<tbody class="mcnDividerBlockOuter">
						<tr>
							<td class="mcnDividerBlockInner" style="padding: 5px 18px;">
								<table class="mcnDividerContent" border="0" cellpadding="0"
									   cellspacing="0" width="100%"
									   style="border-top-width: 1px;border-top-style: solid;border-top-color: #999999;">
									<tbody>
									<tr>
										<td>
											<span></span>
										</td>
									</tr>
									</tbody>
								</table>
							</td>
						</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</table>
	</td>
</div>
<tr>
	<td align="center" valign="top">
		<!-- BEGIN BODY // -->
		<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
			<tr>
				<td valign="top" class="bodyContainer">
					<table border="0" cellpadding="0" cellspacing="0" width="100%"
						   class="mcnTextBlock">
						<tbody class="mcnTextBlockOuter">
						<tr style="float: left">
							<td valign="top" class="mcnTextBlockInner">

								<table align="left" border="0" cellpadding="0" cellspacing="0"
									   width="600" class="mcnTextContentContainer">
									<tbody>
									<tr>

										<td valign="top" class="mcnTextContent"
											style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

											<p style="color:#666; font-size: 12px;">Hello
												Sir/Madam,</span></span></span>

											<p style="font-size: 12px;line-height: 20px;color: #666666;font-family: Arial, Helvetica, sans-serif;">
												A Booking request for {{ instance.detail.event.venue }} has been Complete. The Booking reference is: </p>

											<p style="font-size: 18px;line-height: 20px;color: #CC0000;font-family: Arial, Helvetica, sans-serif;">
												{% if instance.ref %}{{ instance|format_booking_ref }}{% else %}Not
												Available{% endif %}</p>
											<p style="font-size: 12px; color: #666666; line-height:20px; font-family: Arial, Helvetica, sans-serif;">
												{% if instance|booking_status %}
												<b>{{ 'EMAIL_booking'|translate_for_venue:instance.detail.event.venue }} Status:</b> {{ instance|booking_status }} <br>
												{% endif %}
												<p style="border-top-width: 1px;border-top-style: solid;border-top-color: #999999;"/>
												{% if instance.date %}
												<b>Date of {{ 'EMAIL_booking'|translate_for_venue:instance.detail.event.venue }}:</b> {{ instance.date|date:"l, j. F Y" }} <br>
												{% endif %}
												{% if instance.scheduled_time_in %}
												<b>Scheduled Arrival:</b> {{ instance.scheduled_time_in|date:'H:i' }}<br>
												{% endif %}
												{% if instance.scheduled_time_out %}
												<b>Scheduled Departure:</b> {{ instance.scheduled_time_out|date:'H:i' }}<br>
												{% endif %}
												<b>Location:</b> {{ instance.booking_vehicle.access_point_name }}<br>
												<p style="border-top-width: 1px;border-top-style: solid;border-top-color: #999999;"/>
												{% if instance.booking_vehicle.company_name %}
												<b>Delivery Company:</b> {{ instance.booking_vehicle.company_name }} <br>
												{% endif %}
												{% if instance.journey.driver %}
												<b>Driver Name:</b> {{ instance.journey.driver.full_name }} <br>
												<b>Driver's Licence:</b> {{ instance.journey.driver.licence_number }} <br>
												{% endif %}
												{% if instance.booking_vehicle.plate %}
												<b>VRN:</b> {{ instance.booking_vehicle.plate }} <br>
												{% endif %}
												{% if instance.booking_vehicle.venue_vehicle %}
												<b>Type of Vehicle:</b> {{ instance.booking_vehicle.venue_vehicle.name }} <br>
												{% endif %}
												<b>Goods Type:</b> {{ context.goods_type }} <br>
												<p style="border-top-width: 1px;border-top-style: solid;border-top-color: #999999;"/>
												{% if instance.detail.contact_name %}
												<b>Recipient Name:</b> {{ instance.detail.contact_name }} <br>
												{% endif %}
												{% if instance.detail.contact_email %}
												<b>Recipient Contact Number:</b> {{ instance.detail.contact_number }} <br>
												{% endif %}
												{% if instance.detail.contact_email %}
												<b>Recipient Email:</b> mailto:{{ instance.detail.contact_email }} <br>
												{% endif %}
												<p style="border-top-width: 1px;border-top-style: solid;border-top-color: #999999;"/>
										</td>
									</tr>
									</tbody>
								</table>

							</td>
						</tr>

						</tbody>
					</table>
					<table border="0" cellpadding="0" cellspacing="0" width="100%"
						   class="mcnTextBlock">
						<tbody class="mcnTextBlockOuter">
						<tr>
							<td valign="top" class="mcnTextBlockInner">

								<table align="left" border="0" cellpadding="0" cellspacing="0"
									   width="600" class="mcnTextContentContainer">
									<tbody>
									<tr>
										<td valign="top" class="mcnTextContent"
											style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">
											{% if instance.detail.event.venue %}
											<p style="font-size: 12px;line-height: 20px;color: #666666;font-family: Arial, Helvetica, sans-serif;">
											Click <a href="{{ instance.detail.event.venue.dashboard_url }}">here</a> to log in
											and view your {{ 'EMAIL_booking'|translate_for_venue:instance.detail.event.venue }}s.</p>
											{% endif %}
											<p style="font-size: 12px;line-height: 20px;color: #666666;font-family: Arial, Helvetica, sans-serif;">
												Thanks,</p>
											<p style="color:#666; font-size: 12px;">
												{% if instance.detail.event.venue.name %}{{ instance.detail.event.venue.name }} and {% endif %}the
												Voyage Control Team</p>
										</td>
									</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</td>
</tr>
{% endblock %}
