{% extends 'email/base.html' %}
{% load filters %}

{% block content %}
<tr>
	<td align="center" valign="top">
		<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader">
			<tr>
				<td valign="top" class="headerContainer">
					<table border="0" cellpadding="0" cellspacing="0" width="100%"
						   class="mcnCaptionBlock">
						<tbody class="mcnCaptionBlockOuter">
						<tr>
							<td class="mcnCaptionBlockInner" valign="top" style="padding: 0 9px;">
								<table border="0" cellpadding="0" cellspacing="0"
									   class="mcnCaptionLeftContentOuter" width="100%">
									<tbody>
									<tr>
										<td valign="top" class="mcnCaptionLeftContentInner"
											style="padding:0 9px ;">
											<table class="mcnCaptionLeftTextContentContainer"
												   align="left" border="0" cellpadding="0"
												   cellspacing="0" width="396">
												<tbody>
												<tr>
													<td valign="top" class="mcnTextContent">
														<span style="font-size:18px">{{ 'EMAIL_booking'|translate_for_venue:instance.detail.event.venue }} Confirmation</span>
													</td>
												</tr>
												</tbody>
											</table>
										</td>
									</tr>
									</tbody>
								</table>
							</td>
						</tr>
						</tbody>
					</table>
					<table border="0" cellpadding="0" cellspacing="0" width="100%"
						   class="mcnDividerBlock">
						<tbody class="mcnDividerBlockOuter">
						<tr>
							<td class="mcnDividerBlockInner" style="padding: 5px 18px;">
								<table class="mcnDividerContent" border="0" cellpadding="0"
									   cellspacing="0" width="100%"
									   style="border-top-width: 1px;border-top-style: solid;border-top-color: #999999;">
									<tbody>
									<tr>
										<td>
											<span></span>
										</td>
									</tr>
									</tbody>
								</table>
							</td>
						</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td align="center" valign="top">
		<!-- BEGIN BODY // -->
		<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
			<tr>
				<td valign="top" class="bodyContainer">
					<table border="0" cellpadding="0" cellspacing="0" width="100%"
						   class="mcnTextBlock">
						<tbody class="mcnTextBlockOuter">
						<tr>
							<td valign="top" class="mcnTextBlockInner">

								<table align="left" border="0" cellpadding="0" cellspacing="0"
									   width="600" class="mcnTextContentContainer">
									<tbody>
									<tr>

										<td valign="top" class="mcnTextContent"
											style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

											<p style="color:#666; font-size: 12px;">Hello:

											<p style="font-size: 12px;line-height: 20px;color: #666666;font-family: Arial, Helvetica, sans-serif;">
												A {{ 'EMAIL_booking'|translate_for_venue:instance.detail.event.venue|lower }} has been confirmed for the
												{% if instance.detail.event.venue.name %}{{ instance.detail.event.venue.name }}{% else %}a venue
												which you are associated with{% endif %}. The reference number is: </p>

											<p style="font-size: 18px;line-height: 20px;color: #CC0000;font-family: Arial, Helvetica, sans-serif;text-align: center;">
												{% if instance.ref %}{{ instance.ref }}{% else %}Not
												Available{% endif %}</p>

											<p>See below for details.</p>

											<p style="font-size: 13px; color: #666666;line-height:0px; font-family: Arial, Helvetica, sans-serif;">
												<strong> {{ 'EMAIL_booking'|translate_for_venue:instance.detail.event.venue }} Details:</strong></p>
											<p style="font-size: 12px; color: #666666; line-height:20px; font-family: Arial, Helvetica, sans-serif;">
												{% if instance.detail.event.name %}
												<b>{{ 'Email_event_name'|translate_for_venue:instance.detail.event.venue }}:</b> {{ instance.detail.event.name }}<br>
												{% endif %}
												{% if instance.date %}
												<b>Date of {{ 'EMAIL_booking'|translate_for_venue:instance.detail.event.venue }}:</b> {{ instance.date|date:"l, F j, Y" }} <br>
												{% endif %}
												{% if instance.scheduled_time_in %}
												<b>{{ 'Email_scheduled_time_in'|translate_for_venue:instance.detail.event.venue }}:</b> {{ instance.scheduled_time_in|date:'H:i' }}<br>
												{% endif %}
												{% if instance.journey.driver %}
												<b>{{ 'Email_driver_name'|translate_for_venue:instance.detail.event.venue }}:</b> {{ instance.journey.driver.full_name }} ({{ instance.journey.driver.phone }})
												<br>
												{% endif %}
												{% if instance.booking_vehicle.plate %}
												<b>{{ 'Email_plate'|translate_for_venue:instance.detail.event.venue }}:</b> {{ instance.booking_vehicle.plate }} <br>
												{% endif %}
												{% if instance.detail.recipient_company_name %}
												<b>{{ 'Email_company_name'|translate_for_venue:instance.detail.event.venue }}:</b> {{ instance.detail.recipient_company_name }} <br>
												{% endif %}
												{% if instance.detail.contact_email %}
												<b>{{ 'Email_company_email'|translate_for_venue:instance.detail.event.venue }}:</b> {{ instance.detail.contact_email }} <br>
												{% endif %}
										</td>
									</tr>
									</tbody>
								</table>

							</td>
						</tr>
						</tbody>
					</table>
					{% if instance|vehicle_pass_url %}
					<table border="0" cellpadding="0" cellspacing="0" width="100%"
						   class="mcnButtonBlock">
						<tbody class="mcnButtonBlockOuter">
						<tr>
							<td style="padding-top:0; padding-right:18px; padding-bottom:18px; padding-left:18px;"
								valign="top" align="center" class="mcnButtonBlockInner">
								<table border="0" cellpadding="0" cellspacing="0"
									   class="mcnButtonContentContainer"
									   style="border-collapse: separate !important;border: 1px solid #AAAAAA;border-radius: 5px;background-color: #66CC99;">
									<tbody>
									<tr>
										<td align="center" valign="middle" class="mcnButtonContent"
											style="font-family: Arial; font-size: 14px; padding: 10px;">
											<a class="mcnButton " title="{{ instance|vehicle_pass_url }}"
											   href="{{ instance|vehicle_pass_url }}" target="_blank"
											   style="font-weight: normal;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;">Download {{ 'EMAIL_booking'|translate_for_venue:instance.detail.event.venue }} Confirmation</a>
										</td>
									</tr>
									</tbody>
								</table>
							</td>
						</tr>
						</tbody>
					</table>
					{% endif %}
					<table border="0" cellpadding="0" cellspacing="0" width="100%"
						   class="mcnTextBlock">
						<tbody class="mcnTextBlockOuter">
						<tr>
							<td valign="top" class="mcnTextBlockInner">

								<table align="left" border="0" cellpadding="0" cellspacing="0"
									   width="600" class="mcnTextContentContainer">
									<tbody>
									<tr>
										<td valign="top" class="mcnTextContent"
											style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">
											{% if instance.detail.event.venue %}
											<p style="font-size: 12px;line-height: 20px;color: #666666;font-family: Arial, Helvetica, sans-serif;">
											Click <a href="{{ instance.detail.event.venue.dashboard_url }}">here</a> to log in
											and view your {{ 'EMAIL_booking'|translate_for_venue:instance.detail.event.venue|lower }}s.</p>
											{% endif %}
											{% if instance|zendesk_url %}
											<p style="color:#666; font-size:12px; line-height: 20px;">
												You can find our FAQs <a href="{{ instance|zendesk_url }}">here</a>
											</p>
											{% endif %}
											<p style="font-size: 12px;line-height: 20px;color: #666666;font-family: Arial, Helvetica, sans-serif;">
												Regards,</p>
											<p style="color:#666; font-size: 12px;">
												Ceres Vancouver</p>

										</td>
									</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</td>
</tr>
{% endblock %}
{% block social_buttons %}{% endblock %}
