{% extends 'email/base.html' %}
{% load filters %}

{% block content %}
<tr>
	<td align="center" valign="top">
		<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader">
			<tr>
				<td valign="top" class="headerContainer">
					<table border="0" cellpadding="0" cellspacing="0" width="100%"
						   class="mcnCaptionBlock">
						<tbody class="mcnCaptionBlockOuter">
						<tr>
							<td class="mcnCaptionBlockInner" valign="top" style="padding: 0 9px;">
								<table border="0" cellpadding="0" cellspacing="0"
									   class="mcnCaptionLeftContentOuter" width="100%">
									<tbody>
									<tr>
										<td valign="top" class="mcnCaptionLeftContentInner"
											style="padding:0 9px ;">
											<table class="mcnCaptionLeftTextContentContainer"
												   align="left" border="0" cellpadding="0"
												   cellspacing="0" width="396">
												<tbody>
												<tr>
													<td valign="top" class="mcnTextContent">
														<span style="font-size:18px">{{ 'EMAIL_booking'|translate_for_venue:instance.detail.event.venue }} Declined</span>
													</td>
												</tr>
												</tbody>
											</table>
										</td>
									</tr>
									</tbody>
								</table>
							</td>
						</tr>
						</tbody>
					</table>
					<table border="0" cellpadding="0" cellspacing="0" width="100%"
						   class="mcnDividerBlock">
						<tbody class="mcnDividerBlockOuter">
						<tr>
							<td class="mcnDividerBlockInner" style="padding: 5px 18px;">
								<table class="mcnDividerContent" border="0" cellpadding="0"
									   cellspacing="0" width="100%"
									   style="border-top-width: 1px;border-top-style: solid;border-top-color: #999999;">
									<tbody>
									<tr>
										<td>
											<span></span>
										</td>
									</tr>
									</tbody>
								</table>
							</td>
						</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td align="center" valign="top">
		<!-- BEGIN BODY // -->
		<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
			<tr>
				<td valign="top" class="bodyContainer">
					<table border="0" cellpadding="0" cellspacing="0" width="100%"
						   class="mcnTextBlock">
						<tbody class="mcnTextBlockOuter">
						<tr>
							<td valign="top" class="mcnTextBlockInner">

								<table align="left" border="0" cellpadding="0" cellspacing="0"
									   width="600" class="mcnTextContentContainer">
									<tbody>
									<tr>

										<td valign="top" class="mcnTextContent"
											style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

											<p style="color:#666; font-size: 12px;">Hello
												Sir/Madam,</span></span></span>

											<p style="font-size: 12px;line-height: 20px;color: #666666;font-family: Arial, Helvetica, sans-serif;">
												Your {{ 'EMAIL_booking'|translate_for_venue:instance.detail.event.venue }} request, {{ 'EMAIL_booking'|translate_for_venue:instance.detail.event.venue }} Reference:
												{% if instance.ref %}{{ instance|format_booking_ref }}{% else %}Not
												Available{% endif %} at
												{% if instance.detail.event.venue %}{{ instance.detail.event.venue.name }}{% else %}a venue
												which you are associated with{% endif %}
												{% if instance.scheduled_time_in %}for
												{{ instance.scheduled_time_in|date:'H:i' }}{% endif %} {% if instance.date %}on
												{{ instance.date|date:"l, j. F Y" }}{% endif %} has been declined{% if context.user_name %} by {{ context.user_name }}{% endif %}.
												<br>
												{% if context.report %}
												The following details were given: </p>
												<p style="font-size: 18px;line-height: 20px;color: #CC0000;font-family: Arial, Helvetica, sans-serif;text-align: center;">
												{{ context.report.reason }} - {{ context.report.comments}}.
												{% endif %}
												</p>
											<br>


											<p style="font-size: 13px; color: #666666;line-height:0px; font-family: Arial, Helvetica, sans-serif;">
												<strong> {{ 'EMAIL_booking'|translate_for_venue:instance.detail.event.venue }} Details:</strong></p>
											<p style="font-size: 12px; color: #666666; line-height:20px; font-family: Arial, Helvetica, sans-serif;">
												{% if instance|booking_status %}
												<b>{{ 'EMAIL_booking'|translate_for_venue:instance.detail.event.venue }} Status:</b> {{ instance|booking_status }} <br>
												{% endif %}
												{% if instance.detail.event.name %}
												<b>Event Name:</b> {{ instance.detail.event.name }}<br>
												{% endif %}
												{% if instance.date %}
												<b>Date of {{ 'EMAIL_booking'|translate_for_venue:instance.detail.event.venue }}:</b> {{ instance.date|date:"l, j. F Y" }} <br>
												{% endif %}
												{% if instance.detail.stand_zone %}
												<b>Zone:</b> {{ instance.detail.stand_zone }} <br>
												{% endif %}
												{% if instance.scheduled_time_in %}
												<b>Scheduled Arrival:</b> {{ instance.scheduled_time_in|date:'H:i' }}<br>
												{% endif %}
												{% if instance.scheduled_time_out %}
												<b>Scheduled Departure:</b> {{ instance.scheduled_time_out|date:'H:i' }}<br>
												{% endif %}
												{% if instance.journey.driver %}
												<b>Driver:</b> {{ instance.journey.driver.name }} {{ instance.journey.driver.lastname }}<br>
												{% endif %}
												{% if instance.booking_vehicle.company_name %}
												<b>Delivery Company:</b> {{ instance.booking_vehicle.company_name }} <br>
												{% endif %}
												{% if instance.booking_vehicle.company_email %}
												<b>Delivery Email:</b> {{ instance.booking_vehicle.company_email }} <br>
												{% endif %}
												{% if instance.detail.business_name %}
												<b>Recipient Company:</b> {{ instance.detail.business_name }}
												({{ instance.detail.contact_number }}) <br>
												{% endif %}
												{% if instance.detail.contact_name %}
												<b>Recipient Name:</b> {{ instance.detail.contact_name }} <br>
												{% endif %}
												{% if instance.detail.contact_email %}
												<b>Recipient Email:</b> {{ instance.detail.contact_email }} <br>
												{% endif %}
												{% if instance|special_requests %}
												<b>{{ 'BO_specialRequest'|translate_for_venue:instance.detail.event.venue }}:</b> {{ instance|special_requests }} <br>
												{% endif %}
												{% if instance.detail.floor_number %}
												<b>Recipient Unit:</b> {{ instance.detail.floor_number }} <br>
												{% endif %}
												{% if instance.booking_vehicle.plate %}
												<b>Container ID:</b> {{ instance.booking_vehicle.plate }} <br>
												{% endif %}
										</td>
									</tr>
									</tbody>
								</table>

							</td>
						</tr>
						</tbody>
					</table>
					<table border="0" cellpadding="0" cellspacing="0" width="100%"
						   class="mcnTextBlock">
						<tbody class="mcnTextBlockOuter">
						<tr>
							<td valign="top" class="mcnTextBlockInner">

								<table align="left" border="0" cellpadding="0" cellspacing="0"
									   width="600" class="mcnTextContentContainer">
									<tbody>
									<tr>
										<td valign="top" class="mcnTextContent"
											style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">
											{% if instance.detail.event.venue %}
											<p style="font-size: 12px;line-height: 20px;color: #666666;font-family: Arial, Helvetica, sans-serif;">
											Click <a href="{{ instance.detail.event.venue.dashboard_url }}">here</a> to log in
											and view your {{ 'EMAIL_booking'|translate_for_venue:instance.detail.event.venue }}s.</p>
											{% endif %}
											{% if instance|zendesk_url %}
											<p style="color:#666; font-size:12px; line-height: 20px;">
												You can find our FAQs <a href="{{ instance|zendesk_url }}">here</a>
											</p>
											{% endif %}
											<p style="font-size: 12px;line-height: 20px;color: #666666;font-family: Arial, Helvetica, sans-serif;">
												Thanks,</p>
											<p style="color:#666; font-size: 12px;">
												{% if instance.detail.event.venue.name %}{{ instance.detail.event.venue.name }} and {% endif %}the
												Voyage Control Team</p>
										</td>
									</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</td>
</tr>
{% endblock %}
