{% extends 'content_version_3.html' %}

{% load static i18n %}
{% load crispy_forms_tags crispy_forms_filters %}

{% block normal_content %}
    <div class="row">
        <div class="col-sm-12">
            Click <i class="fa fa-hand-o-right"></i> <a href="{% url 'print_function' what='admin_dashboard'  %}" target="_blank" class="btn btn-sm btn-round btn-success" ><i class="fa fa-print" ></i> Print <i class="fa fa-file-pdf-o" ></i></a> to print summary
        </div>
    </div>

    <div class="row" style="border-bottom: 1px solid gray">
        <div class="col-sm-12 col-md-4 col-xs-12 col-lg-4 dashboard">

            <div class="x_panel">
                <div class="x_title">
                    <b style="font-size: 16px">Summary</b>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    {% include 'holders/summary.html' %}

                    <!-- Modal -->
                    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">×
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">Club Information</h4>
                                </div>
                                <div class="modal-body">
                                    {% if form %}
                                        {% crispy form %}
                                    {% endif %}
                                </div>
                                <div class="modal-footer">

                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->

                    <div class="modal fade" id="interestModal" tabindex="-1" role="dialog"
                         aria-labelledby="Label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">×
                                    </button>
                                    <h4 class="modal-title" id="Label">Interest Setting</h4>
                                </div>
                                <div class="modal-body">
                                    <form method="post">
                                        {% csrf_token %}
                                        {% if i_form %}
                                            {% crispy i_form %}
                                            <div>
                                                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary pull-right">Submit changes</button>
                                            </div>
                                        {% endif %}
                                    </form>
                                </div>
                                <div class="modal-footer">

                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->

                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-8 col-xs-12 col-lg-8 dashboard">

            <ul class="nav nav-tabs">
                <li class="active" ><a href="#expenses" data-toggle="tab">General Expenses</a></li>
                <li><a href="#contributions" data-toggle="tab">Contributions</a></li>
                <li><a href="#loans" data-toggle="tab">Loans</a></li>
                <li><a href="#investments" data-toggle="tab">Investments</a></li>
                <li><a href="#income_statement" data-toggle="tab">Income Statement</a></li>
            </ul>
            <div class="tab-content" style="height: 100%; max-height: 500px; overflow-y: auto;">

                <div class="tab-pane fade in active" style="margin-top: 5px;" id="expenses">

                    <form class="form-horizontal admin_expense_form item" id="admin_expense_form" enctype="multipart/form-data" action="" method="post" >
                        <div class="form-group">
                            <div class="controls col-sm-12 admin_expense_formset">
                                {% if perms.home.can_modify_expenes and user.is_authenticated and expenses_forms %}
                                    <a class="add-row btn-xs btn-success btn-round pull-right" id="add" href="javascript:void(0)"> <i class="fa fa-plus"></i> add expense</a>
                                {% endif %}
                                <fieldset style="overflow-x: auto; width: 100%;">
                                    <legend> Expenses</legend>

                                    {% include 'holders/expenses.html' %}

                                </fieldset>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls col-sm-12">
                                {% if perms.home.can_modify_expenses and user.is_authenticated and expenses_forms %}
                                    <div class="form-group">
                                        <div class="aab controls col-sm-3"></div>
                                        <div class="controls col-sm-9">
                                            <input name="submit" value="Save Expense" class="btn btn-primary" id="submit-id-submit" type="submit">
                                            <input name="cancel" value="Clear" class="btn" id="button-id-cancel" type="reset">
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        {{ expenses_forms.management_form }}
                    </form>

                </div>

                <div class="tab-pane fade" id="contributions">

                    {% include 'holders/contributions.html' %}

                </div>

                <div class="tab-pane fade" id="loans">

                    {% include 'holders/loans.html' %}

                </div>

                <div class="tab-pane fade" id="investments">

                    {% include 'holders/investments.html' %}

                </div>

                <div class="tab-pane fade" id="income_statement">

                    {% include 'holders/income_statement.html' %}

                </div>

            </div>

        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        {% if form and form.errors %}
            $('#monthly_button').click();

        {% elif i_form and i_form.errors %}
            $('#interest_button').click();

        {% endif %}

    </script>

{% endblock %}
