{% extends 'content_version_3.html' %}

{% load static i18n %}
{% load crispy_forms_tags crispy_forms_filters %}

{% block normal_content %}

    <div class="row" style="border-bottom: 1px solid gray">
        <div class="col-sm-12 col-md-4 col-xs-12 col-lg-4 dashboard">

            <div class="x_panel">
                <div class="x_title">
                    <b style="font-size: 16px">Summary</b>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <ul>
                        <li>Start Date:
                            <button data-toggle="modal" data-target="#detailModal" class="btn btn-primary btn-xs" >
                            <i class=" fa fa-edit" ></i></button>
                            <span>{{ start_date|date:'l dS, N Y' }} </span>
                        </li>
                        <li>Today: <span>{{ today|date:'l dS, N Y' }}</span></li>
                        <li>Months in operation: <span>{{ months_in_operation }}</span></li>
                        <li>Total Membership: <span>{{ total_membership }}</span></li>
                        <li>Monthly Contribution:
                            <button id="monthly_button" data-toggle="modal" data-target="#detailModal" class="btn btn-success btn-xs" >
                            <i class=" fa fa-edit" ></i></button>
                            <span>{{ monthly_rate }} UGX</span>
                        </li>
                        <li>Loan Rate:
                            <button id="interest_button" data-toggle="modal" data-target="#interestModal" class="btn btn-success btn-xs" >
                            <i class=" fa fa-edit" ></i></button>
                            <span>{{ loan_rate }} %</span>
                        </li>
                        <li>Expected Contributions: <span>{{ expected_total_contributions }} UGX</span></li>
                    </ul>

                    {% if message %} <span class="label-success">{{ message }}</span>{% endif %}

                    <hr>
                    <b style="font-size: 16px; color: rgba(32,89,188,0.79)">Cash At Hand</b>
                    <ul class="cash">
                        <li>Expected Total: <span>{{ expected_total_cash_at_hand }} UGX</span></li>
                        <li>Actual Banked Bal.: <span>{{ banked_cash_at_hand }} UGX</span></li>
                        <li>Unbanked Bal: <span>{{ unbanked_cash_at_hand }} UGX</span></li>
                    </ul>

                    <!-- Modal -->
                    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">×
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">Club Information</h4>
                                </div>
                                <div class="modal-body">
                                    {% if form %}
                                        {% crispy form %}
                                    {% endif %}
                                </div>
                                <div class="modal-footer">

                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->

                    <div class="modal fade" id="interestModal" tabindex="-1" role="dialog"
                         aria-labelledby="Label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">×
                                    </button>
                                    <h4 class="modal-title" id="Label">Interest Setting</h4>
                                </div>
                                <div class="modal-body">
                                    <form method="post">
                                        {% csrf_token %}
                                        {% if i_form %}
                                            {% crispy i_form %}
                                            <div>
                                                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary pull-right">Submit changes</button>
                                            </div>
                                        {% endif %}
                                    </form>
                                </div>
                                <div class="modal-footer">

                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->

                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-8 col-xs-12 col-lg-8 dashboard">

            <ul class="nav nav-tabs">
                <li class="active" ><a href="#expenses" data-toggle="tab">General Expenses</a></li>
                <li><a href="#contributions" data-toggle="tab">Contributions</a></li>
                <li><a href="#loans" data-toggle="tab">Loans</a></li>
                <li><a href="#investments" data-toggle="tab">Investments</a></li>
            </ul>
            <div class="tab-content" style="height: 100%; overflow-y: auto">

                <div class="tab-pane fade in active" style="margin-top: 5px" id="expenses">

                    <a class="add-row btn-xs btn-success btn-round pull-right" id="add" href="javascript:void(0)"> <i class="fa fa-plus"></i> add expense</a>

                    <table style="margin-top: 0" class="table dashboard-tables contributions table-bordered table-striped">
                        <thead>
                            <th>Particular</th>
                            <th>Amount Invested (UGX)</th>
                            <th>Re coupled(UGX)</th>
                            <th>Interest (UGX)</th>
                        </thead>
                        <tbody>
                        {% if all_expenses %}
                            {% for e in all_expenses %}
                                <tr>
                                    <td>{{ e.name }}</td>
                                    <td>{{ e.status }}</td>
                                    <td>{{ e.paid }}</td>
                                    <td>{{ e.balance }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                             <tr><td colspan="4">No Expense Made</td></tr>
                        {% endif %}
                        </tbody>
                    </table>

                </div>

                <div class="tab-pane fade" id="contributions">

                    <table class="table dashboard-tables contributions table-bordered table-striped">
                        <thead>
                            <th>Name</th>
                            <th>Membership Status</th>
                            <th>Total Paid ( UGX )</th>
                            <th>Total Outstanding ( UGX )</th>
                        </thead>
                        <tbody>
                        {% if all_contributions %}
                            {% for c in all_contributions %}
                                {% if not forloop.last %}
                                    <tr>
                                        <td>{{ c.name }}</td>
                                        <td>{{ c.status }}</td>
                                        <td>{{ c.paid }}</td>
                                        <td>{{ c.balance }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            {% with all_contributions|last as fin %}
                                <tr>
                                    <td>Totals</td>
                                    <td></td>
                                    <td>{{ fin.total_paid }}</td>
                                    <td>{{ fin.total_balance }}</td>
                                </tr>
                            {% endwith %}
                        {% else %}
                             <tr><td colspan="4">No Contribution</td></tr>
                        {% endif %}
                        </tbody>
                    </table>

                </div>

                <div class="tab-pane fade" id="loans">

                    <table class="table dashboard-tables table-bordered table-striped">
                        <thead>
                            <th>Disperse Date</th>
                            <th>Name</th>
                            <th>Loan Amount (UGX)</th>
                            <th>Total (UGX)</th>
                            <th>Repaid (UGX)</th>
                            <th>Balance (UGX)</th>
                            <th>Profit Earned (UGX)</th>
                        </thead>
                        <tbody>
                        {% if all_loans %}
                            {% for l in all_loans %}
                                <tr>
                                    <td>{{ l.loan_date|date:'N d, Y' }}</td>
                                    <td>{{ l.user }}</td>
                                    <td>{{ l.loan_amount }}</td>
                                    <td>{{ l.total_amount }}</td>
                                    <td>{{ l.amount_paid }}</td>
                                    <td>{{ l.outstanding_balance }}</td>
                                    <td>{{ l.profit_earned }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                             <tr><td colspan="5">No Loans granted yet</td></tr>
                        {% endif %}
                        </tbody>
                    </table>

                </div>

                <div class="tab-pane fade" id="investments">

                    <table class="table dashboard-tables table-bordered table-striped">
                        <thead>
                            <th>Start Date</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Amount Invested (UGX)</th>
                            <th>Total Recouped (UGX)</th>
                            <th>Interest (UGX)</th>
                            <th>Investment returns (UGX)</th>
                        </thead>
                        <tbody>
                        {% if all_investments %}
                            {% for i in all_investments %}
                                {% if perms.finance.can_modify_investment %}
                                    {% ifequal i.project_status "cancelled" %}
                                        <tr data-href='{% url "investments_update" i.id %}' class="not_approved" >
                                            {% else %}
                                        <tr data-href='{% url "investments_update" i.id %}' >
                                    {% endifequal %}
                                {% else %}
                                    {% ifequal i.project_status "cancelled" %}
                                        <tr class="not_approved" >
                                            {% else %}
                                        <tr>
                                    {% endifequal %}
                                {% endif %}

                                    <td>{{ i.start_date|date:'N d, Y' }}</td>
                                    <td>{{ i.project_name }}</td>
                                    <td>{{ i.description }}</td>
                                    <td>{{ i.total_capital_invested }}</td>
                                    <td>{{ i.amount_returned }}</td>
                                    <td>{{ i.interest }}</td>
                                    <td>{{ i.outstanding_balance }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                             <tr><td colspan="4">No ongoing Investments</td></tr>
                        {% endif %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        {% if form and form.errors %}
            $('#monthly_button').click();

        {% elif i_form and i_form.errors %}
            $('#interest_button').click();

        {% endif %}

    </script>

{% endblock %}
