{% extends 'base.html' %}
{% block title %} Error-Page {% endblock %}

{% block main %}

    <!-- Content Wrapper. Contains page content -->
    <!--<div class="content-wrapper">-->
	<div class="error">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				404 Error Page
			</h1>
			<ol class="breadcrumb">
				<li><a href="{{ home_page }}"><i class="fa fa-dashboard"></i> Home</a></li>
			</ol>
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="error-page">
				<h2 class="headline text-yellow"> 404</h2>
				<div class="error-content">
					<h2><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h2>
					<p>
						We're sorry, but the requested page could not be found
						Meanwhile, you may <a href="{{ home_page }}">return to our home-page</a>.
					</p>
				</div>
				<!-- /.error-content -->
			</div>
			<!-- /.error-page -->
		</section>
		<!-- /.content -->
	</div>

{% endblock %}



