{% load static %}
{% load filters %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>error-page</title>

    <link href="{% static "main/font-awesome/css/font-awesome.css" %}" rel="stylesheet" />
    <link href="{% static "main/css/bootstrap.css" %}" rel="stylesheet" />
    <link href="{% static "main/css/AdminLTE.css" %}" rel="stylesheet" />
     <style>
         .login-page {
             background: #2a3f54;
         }
         .error, li a{
             color: white !important;
         }
         .error p{
             font-size: 16px;
         }
         a{
             cursor: pointer;
         }
        </style>

</head>
<body  class="login-page">

    {% block main %}{% endblock %}

    <script type="text/javascript" src="{% static 'main/js/jquery.js' %}" ></script>
    <script type="text/javascript" src="{% static 'main/js/bootstrap.js' %}" ></script>
</body>
</html>
