
<table class="table dashboard-tables table-bordered table-striped" cellspacing="0" >
    <thead>
    <th></th>
    <th>Date</th>
    <th>Particular</th>
    <th>Amount Invested (UGX)</th>
    <th>Recouped(UGX)</th>
    <th>Interest (UGX)</th>
    </thead>
    <tbody>
    {% if expenses_forms %}
        {% for form in expenses_forms %}
            <tr class="form-set" >
                <td>
                    <span class="pull-right">
                        <a class="delete-row btn btn-xs btn-danger delete" href="javascript:void(0)"><i class="fa fa-trash"></i> &times;</a>
                    </span>
                </td>
                <td>{{ form.date }}{{ form.date.errors }}</td>
                <td>{{ form.particulars }}{{ form.particulars.errors }}</td>
                <td>{{ form.invested }}{{ form.invested.errors }}</td>
                <td>{{ form.recouped }}{{ form.recouped.errors }}</td>
                <td>{{ form.interest }}{{ form.interest.errors }}</td>
                {{ form.id }}
                {% csrf_token %}
            </tr>
        {% endfor %}
    {% else %}
        <tr><td colspan="4">No Expenses incurred</td></tr>
    {% endif %}
    </tbody>
</table>
