{% extends 'registration/base_registration.html' %}
{% load i18n %}

{% block title %} Login {% endblock %}

{% block reg_content %}

	<p class="login-box-msg">Sign in to start your session</p>

	<form action="{% url 'rest_framework:login' %}" role="form" method="post">
        {% csrf_token %}
		<input type="hidden" name="next" value="{{ next }}"/>

		<div class="form-group has-feedback">
			<input type="text" name="username" maxlength="100" autocapitalize="off" autocorrect="off"
				   class="form-control textinput textInput" id="id_username" placeholder="Username or Email" required
				   autofocus
                   {% if form.username.value %}value="{{ form.username.value }}"{% endif %}/>
			<span class="fa fa-envelope form-control-feedback"></span>
		</div>
		<div class="form-group has-feedback">
			<input type="password" name="password" maxlength="100" autocapitalize="off" autocorrect="off"
				   class="form-control textinput textInput" id="id_password" placeholder="password" required>
			<span class="fa fa-lock form-control-feedback"></span>
		</div>

		<div class="text-center errorlist" style="font-family: FontAwesome,serif; font-size: 12px; font-weight: bold">
			<div class="text-error">
                {% if form.username.errors %}{{ form.username.errors|striptags }}{% endif %}
                {% if form.password.errors %}{{ form.password.errors|striptags }}{% endif %}
			</div>
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
					<div class="well well-small text-error" style="border: none">{{ error }}</div>
                {% endfor %}
            {% endif %}
		</div>
		<div class="row">
			<div class="col-xs-8">
				<div class="checkbox icheck">
					<label for="remember_me">
						<input type="checkbox" id="remember_me" name="remember_me" value="on" checked/> Remember Me
					</label>
				</div>
			</div>
			<!-- /.col -->
			<div class="col-xs-4">
				<input type="submit" id="submit" name="submit" class="btn btn-primary btn-block btn-flat"
					   value="Login"/>
			</div>
			<!-- /.col -->
		</div>
		<a href="{% url 'password_reset' %}">forgot password ?</a>
	</form>

{% endblock %}
