{% extends 'registration/base_registration.html' %}
{% load i18n %}

{% block stylesheets %}
    {{ block.super }}
	<style>
		fieldset p {
			display: flex;
			flex-direction: column;
		}
	</style>
{% endblock %}

{% block title %} Change Password {% endblock %}

{% block reg_content %}

    {% block breadcrumbs %}
		<div class="breadcrumbs">
			<a href="{{ home_page }}">{% trans 'Home' %}</a>
			&rsaquo; {% trans 'Password reset' %}
		</div>
    {% endblock %}

    {% block content_title %}<h1>{{ title }}</h1>{% endblock %}

    {% block content %}

		<form method="post">
            {% csrf_token %}
			<div>
                {% if form.errors %}
					<p class="errornote text-center">
                        {% if form.errors.items|length == 1 %}
							<p class="center-block text-danger"> {% trans "Please correct the error below." %} </p>
                        {% else %}
							<p class="center-block text-danger"> {% trans "Please correct the errors below." %} </p>
                        {% endif %}
					</p>
                {% endif %}

				<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
				<fieldset class="module aligned wide">
                    {{ form.as_p }}
				</fieldset>

				<div class="submit-row">
					<input type="submit" value="{% trans 'Change my password' %}" class="btn btn-round btn-primary"/>
				</div>
			</div>
		</form>

    {% endblock %}

{% endblock %}
