
{% extends 'registration/base.html' %}
{% load i18n %}

{% block main %}

    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'home_page' %}">{% trans 'Home' %}</a>
            &rsaquo; {% trans 'Password change' %}
        </div>
    {% endblock %}
    {% block content_title %}<h1>{{ title }}</h1>{% endblock %}
    {% block content %}
        <h5>
            <p>{% trans 'Your password was succesfuly changed.' %}</p>
        </h5>
        <h4>
            <p>{% trans "You can now go back to the " %} <a href="{% url 'profile_page' %}">previous</a> page !! </p>
        </h4>
    {% endblock %}

{% endblock %}
